.table-wrapper {
  width: 100%;
  max-width: 70vw;
  overflow-x: auto;
}

table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  white-space: nowrap;
}

table tr:nth-child(even) {
  background-color: var(--darker-background-color);
}

table,
th,
td {
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);

  overflow: hidden;
}

th,
td {
  max-width: 180px;
  padding: 10px;
}

th {
  color: white;
  white-space: normal;

  background-color: var(--primary-color);
  vertical-align: bottom;
}

.long-criteria {
  min-width: 180px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.pagination button {
  background-color: var(--background-color);
  margin: 0.5rem;

  color: var(--secondary-color);

  border-radius: 5px;
  border: 1px solid var(--secondary-color);

  transition: all 0.2s ease;
}

.pagination button:hover {
  background-color: var(--primary-color);

  color: white;
}

.pagination .page-number {
  width: 5rem;

  text-align: center;
}
