.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 12rem;
  background-color: var(--primary-color);

  transition: background-color 0.4s ease;
}

.footer {
  color: white;
  text-decoration: none;
  text-align: center;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 20rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link img {
  width: 2rem;
  height: 2rem;

  filter: brightness(0%);
}

.link:hover img {
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  width: 100%;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category a:hover {
  color: var(--secondary-color);
}
