:root{
  --primary-color: #fa4966;
  --secondary-color: #151048;
  --background-color: white;
  --darker-background-color: #f1f1f1;
  --darkmode-background-color: #1d1d2a;
}

*{
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Router{
  display: flex;
  flex: 1;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.footer,
.nav {
  background-color: var(--primary-color);
  width: 100%;
  height: 3em;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 0;
  z-index: 1;
}

.logo, .logo:hover{
  text-decoration: none;
  color: white;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}