.App {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
}

body {
  min-height: 100vh;
}

.form {
  width: 50%;
  height: 2em;
}

.form input {
  width: 78%;
  height: 100%;
  color: #151048;
  border: 3px solid #2b3553;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease;
}

.form input:focus {
  border: 3px solid #fa4966;
}

.form button {
  width: 20%;
  height: 100%;
}

.router {
  height: 100%;
}

.view-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 3vh 0 9vh;
}

.footer,
.nav {
  background-color: #fa4966;
  width: 100%;
  height: 3em;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 0;
}

.footer {
  position: absolute;
  bottom: 0;
}
