.jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;

  width: 100%;

  color: var(--text-color);
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 60%;
  max-width: 95vw;

  border: 1px solid var(--text-color);
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  padding: 0 1rem 0 1rem;
  height: 2rem;

  border-right: 1px solid var(--text-color);
}

.table td {
  padding: 0 1rem 0 1rem;
  height: 2rem;

  border-right: 1px solid var(--text-color);
}

.table td:nth-child(3),
.table th:nth-child(3) {
  border: none;
}

.table {
  width: 100%;

  text-align: left;

  border-collapse: collapse;
}

.table tr:nth-child(odd) {
  background-color: var(--darker-background-color);
}

.jam-title {
  width: 60%;
}

.job-state {
  width: 20%;
}

.job-progress {
  width: 20%;
}
