:root{
  --primary-color: #f55a5b;
  --secondary-color: #151048;
  --html-bg-color: white;
  --background-color: white;
  --secondary-background-color: white;
  --darker-background-color: #f1f1f1;
  --darkmode-background-color: #1d1d2a;
}

*{
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--html-bg-color);
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Router{
  display: flex;
  flex: 1;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.footer,
.nav {
  background-color: var(--primary-color);
  transition: background-color .4s ease;
  width: 100%;
  height: 3em;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
  color: white;
  top: 0;
  z-index: 1;

  --mask:
    radial-gradient(46.36px at 50% calc(100% - 63.25px),#000 99%,#0000 101%) calc(50% - 46px) 0/92px 100%,
    radial-gradient(46.36px at 50% calc(100% + 40.25px),#0000 99%,#000 101%) 50% calc(100% - 23px)/92px 100% repeat-x;
    -webkit-mask: var(--mask);
  mask: var(--mask);
}

.logo, .logo:hover{
  text-decoration: none;
  color: white;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.footer a{
  text-decoration: none;
  color: white;
  width: 10em;
  text-align: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.footer a:hover{
  color: var(--secondary-color);
}