.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  padding: 1em;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  background: var(--background-color);
  min-height: 5rem;
}

.chart-card {
  overflow-x: hidden;
}

.chart {
  width: 100%;
}

.card-col-span-2 {
  grid-column: span 2;
}

.card-col-span-3 {
  grid-column: span 3;
}

.card-col-span-4 {
  grid-column: span 4;
}

.card-col-span-5 {
  grid-column: span 5;
}

.card-col-span-6 {
  grid-column: span 6;
}

.card-row-span-2 {
  grid-row: span 2;
}

.card-row-span-3 {
  grid-row: span 3;
}

.card-row-span-4 {
  grid-row: span 4;
}

.card-row-span-5 {
  grid-row: span 5;
}

.card-row-span-6 {
  grid-row: span 6;
}

@media (max-width: 1200px) {
  .card-col-span-6 {
    grid-column: span 5;
  }
}

@media (max-width: 1000px) {
  .card-col-span-4 {
    grid-column: span 3;
  }

  .card-col-span-5 {
    grid-column: span 3;
  }

  .card-col-span-6 {
    grid-column: span 3;
  }
}

@media (max-width: 800px) {
  .card-col-span-2 {
    grid-column: span 1;
  }

  .card-col-span-3 {
    grid-column: span 1;
  }

  .card-col-span-4 {
    grid-column: span 1;
  }

  .card-col-span-5 {
    grid-column: span 1;
  }

  .card-col-span-6 {
    grid-column: span 1;
  }
}
