.home-recommended-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--text-color);

  margin-bottom: 3rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 25rem));
  justify-content: center;
  gap: 3rem;

  width: 100vw;
  max-width: 150rem;
}
