.recommendedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 0 1rem 0;
  width: 95vw;

  color: var(--text-color);

  border-top: 1px solid var(--primary-color);
}

.recommendedMask {
  width: 95vw;
  max-width: 100rem;

  position: relative;

  overflow-x: hidden;
}

.recommendedGradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: var(--home-jam-gradient);

  pointer-events: none;
}

.recommended {
  display: flex;
  gap: 1rem;

  position: relative;
  top: 0;

  width: fit-content;
  height: 100%;
}

.jamRightSlide {
  animation: rightSlide linear 60s infinite;
}

.jamLeftSlide {
  animation: leftSlide linear 80s infinite;
}

.recommendedMask:hover > .recommended {
  animation-play-state: paused;
}

@keyframes rightSlide {
  from {
    left: 0;
  }
  to {
    left: -357%;
  }
}

@keyframes leftSlide {
  from {
    left: 0;
  }
  to {
    left: -714%;
  }
}

.recommendedJam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 20rem;
  height: 18rem;
  padding: 0.5rem;
  margin-bottom: 4px;
  background-color: var(--background-color);

  border: 1px solid var(--primary-color);
  border-radius: 10px;

  box-shadow: 0 4px 4px var(--box-shadow-color);
}

.recommendedJam .host a,
.recommendedJam .primaryInfo a {
  color: var(--text-color);
}

.recommendedJam .host a:hover,
.recommendedJam .primaryInfo a:hover {
  color: var(--primary-color);
}

.primaryInfo {
  display: flex;
  align-items: flex-start;

  width: 100%;
}

.jamIcon {
  flex: 1;
}

.jamIcon img {
  width: 100%;
  height: 5rem;

  object-fit: cover;
  border-radius: 5px;
}

.title {
  flex: 2;

  height: fit-content;
  max-height: 5em;
  padding-left: 0.5em;

  text-align: center;

  overflow: hidden;
}

.host {
  max-height: 5em;

  text-align: center;

  overflow: hidden;
}

.stats {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: fit-content;
}

.submissions,
.joined {
  height: fit-content;
}
