.card {
  --rotate-x: 0;
  --rotate-y: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative;

  height: 30rem;
  padding: 50% 1rem 1rem 1rem;

  text-align: center;

  border: 2px solid var(--primary-color);
  border-radius: 10px;
  overflow: hidden;

  box-shadow: var(--box-shadow);

  transform: perspective(1000px) rotateY(var(--rotate-y))
    rotateX(var(--rotate-x));
}

.card:hover {
}

.card * {
  margin: 0;
  padding: 0;
}

.banner,
.background,
.drop-shadow,
.tilt {
  position: absolute;
  top: 0;
  left: 0;
}

.tilt {
  z-index: 5;

  width: 100%;
  height: 100%;
}

.banner {
  z-index: -2;

  width: 100%;
  height: 80%;

  object-fit: cover;
}

.background {
  background-color: var(--background-color);
  z-index: -3;
}

.drop-shadow {
  z-index: -1;

  width: 100%;
  height: 100%;

  background: var(--hero-gradient);
}

.stats {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.analyze-button {
  width: 10rem;
  height: 3rem;
  background-color: var(--primary-color);

  color: white;
  font-size: medium;
  text-decoration: none;

  border-radius: 10px;
  border: 1px solid var(--primary-color);

  box-shadow: var(--box-shadow);

  transition: all 0.2s ease;
}

.analyze-button:hover {
  color: var(--primary-color);

  background-color: var(--background-color);
  cursor: pointer;
}
