.form {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 90vw;
  max-width: 50rem;
}

.form input {
  height: 3rem;
  width: 100%;

  color: black;

  border: 1px solid var(--primary-color);
  border-radius: 10px 0 0 10px;
  outline: none;

  transition: border 0.5s ease;

  box-shadow: var(--box-shadow);
}

.form input:focus {
  border: 1px solid var(--primary-color);
}

.form.error {
  animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  20% {
    transform: translate(-2px, 0px);
  }
  40% {
    transform: translate(2px, -1px);
  }
  60% {
    transform: translate(-2px, 1px);
  }
  80% {
    transform: translate(-2px, -1px);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.errorText {
  position: absolute;
  top: 150%;

  color: rgba(var(--primary-color-rgb), 0);
  animation: fadeOut 3s;
}

@keyframes fadeOut {
  0% {
    color: rgba(var(--primary-color-rgb), 1);
  }
  50% {
    color: rgba(var(--primary-color-rgb), 1);
  }
  100% {
    color: rgba(var(--primary-color-rgb), 0);
  }
}

.submit {
  width: 10rem;
  height: 3rem;
  background-color: var(--primary-color);

  color: white;
  font-size: medium;
  text-decoration: none;

  border-radius: 0 10px 10px 0;
  border: 1px solid var(--primary-color);

  box-shadow: var(--box-shadow);

  transition: all 0.2s ease;
}

.submit:hover {
  color: var(--primary-color);

  background-color: var(--background-color);
  cursor: pointer;
}
