.form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90vw;
  max-width: 50rem;
}

.form input {
  height: 3rem;
  width: 100%;

  color: black;

  border: 1px solid var(--primary-color);
  border-radius: 10px 0 0 10px;
  outline: none;

  transition: border 0.5s ease;

  box-shadow: var(--box-shadow);
}

.form input:focus {
  border: 1px solid var(--primary-color);
}

.submit {
  width: 10rem;
  height: 3rem;
  background-color: var(--primary-color);

  color: white;
  font-size: medium;
  text-decoration: none;

  border-radius: 0 10px 10px 0;
  border: 1px solid var(--primary-color);

  box-shadow: var(--box-shadow);

  transition: all 0.2s ease;
}

.submit:hover {
  color: var(--primary-color);

  background-color: var(--background-color);
  cursor: pointer;
}