.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 98;

  color: white;

  width: 100vw;
  height: 100vh;
  padding: 1rem;

  background-color: rgba(30, 30, 30, 0.5);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  width: 90vw;
  max-width: 40rem;
  padding: 2rem;
  background: var(--background-color);

  color: var(--text-color);

  border: 1px solid var(--primary-color);
  border-radius: 25px;

  box-shadow: var(--box-shadow);
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 20rem;
  background-color: var(--primary-color);
  padding: 1rem;

  color: white;

  border: 1px solid white;
  border-radius: 1rem;

  transition: all 0.2s ease;
}

.container button:hover {
  background-color: white;

  color: var(--primary-color);

  border: 1px solid var(--primary-color);
}
