.loader {
  display: inline-block;

  height: 100px;
  width: 100px;
  padding: 1em;
  margin: 0 auto 1em;

  text-align: center;
  vertical-align: top;
}

.loader svg path,
.loader svg rect {
  fill: var(--primary-color);
}

.loader p {
  color: var(--text-color);
}

.jamLoader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: var(--text-color);
}

.jamLoader * {
  margin: 0;
}

.jamLoader a {
  color: var(--text-color);
}

.jamLoader a:hover {
  color: var(--primary-color);
}

.loadingImage {
  position: relative;

  width: 256px;
  height: 64px;
}
