* {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

html {
  background-color: var(--html-bg-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;

  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;

  margin-top: 3rem;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.katex-html {
  display: none;
}
