@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Rancho";
  src: local("Rancho"), url("../fonts/Rancho-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
