.Home {
  flex: 1;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 90vw;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form input {
  width: 100%;
  height: 2.5rem;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease;
}

.form input:focus {
  border: 1px solid var(--primary-color);
}

.error {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--primary-color);
}

.submit {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 10rem;
  height: 3rem;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.submit:active {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.recommended-container {
  margin-top: 10vh;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommended-mask {
  width: 70vw;
  height: 20rem;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  scrollbar-color: var(--primary-color) var(--darker-background-color);
  scrollbar-width: thin;
}

.recommended-mask::-webkit-scrollbar {
  height: 8px;
  width: 12px;
  background: var(--darker-background-color);
}

.recommended-mask::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.recommended {
  box-sizing: border-box;
  padding-bottom: 1em;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.recommended-jam {
  width: 20rem;
  height: 100%;
  margin-right: 1em;
  padding: .5em;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.primary-info {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.jam-icon {
  flex: 1;
}

.jam-icon img {
  width: 100%;
}

.title {
  padding-left: .5em;
  flex: 2;
  overflow: hidden;
  max-height: 5em;
  text-align: center;
  height: fit-content;
}

.host {
  text-align: center;
  overflow: hidden;
  max-height: 5em;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

.submissions, .joined {
  height: fit-content;
}