.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 95vw;
  padding: 1rem 0 1rem 0;

  color: var(--text-color);

  border-top: 1px solid var(--primary-color);
}

@media (max-width: 800px) {
  .about-row {
    flex-direction: column;
  }
}

.about-row {
  display: flex;

  width: 90vw;
  max-width: 90rem;
}

.about-image {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-height: 15rem;

  border-radius: 15px;
}

.about-text {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 1rem 0 1rem;
}
