.view{
    border-bottom: 5px solid gray;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

a{
    color: white;
    text-decoration: underline;
}


table, th, td{
    border: 1px solid white;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
}

th{
    position: sticky;
    top: 0px;

    background-color: bisque;
    color: black;
}

th, td{
    padding: 10px;
}

td{
    max-width: 15rem;
}

.table-wrapper{
    max-height: 40rem;
    overflow-y: scroll;
}

