.legal-container {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
}

.legal-view {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 50rem;
  height: fit-content;
  padding: 0 3em 3em 3em;
  background: var(--background-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 25px;
}

.legal-view h1,
h2 {
  text-align: center;
}

.legal-view p {
  text-align: justify;
  hyphens: auto;
}
